<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FusionServlet</servlet-name>
  	<display-name>FusionServlet</display-name>
  	<description></description>
  	<servlet-class>Servlets.FusionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LokkhonRekhaController</servlet-name>
  	<display-name>LokkhonRekhaController</display-name>
  	<description></description>
  	<servlet-class>Servlets.LokkhonRekhaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MultiSeriesBar2DChart</servlet-name>
  	<display-name>MultiSeriesBar2DChart</display-name>
  	<description></description>
  	<servlet-class>Servlets.MultiSeriesBar2DChart</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FusionServlet</servlet-name>
  	<url-pattern>/FusionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LokkhonRekhaController</servlet-name>
  	<url-pattern>/LokkhonRekhaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MultiSeriesBar2DChart</servlet-name>
  	<url-pattern>/MultiSeriesBar2DChart</url-pattern>
  </servlet-mapping>
</web-app>
